.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    border-radius: 10px;
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;
}

.newsletter div{
    display: flex;
    width: 730px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e3e3e3;
    border-radius: 80px;
    background-color: white;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    padding-left: 20px;
    font-size: 16px;
    font-family: Poppins;
    outline: none;
}

.newsletter button{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: auto 10px;
}
